/* Default Settings */
:root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;

    --regular: sans-serif;
    --font: var(--regular);
    
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    --background: #f5f5f5;
    --text: #222222;
}


body, html {
    margin: 0;
    padding: 0.6em;
    background: var(--background);
    color: var(--text);
    font-family: var(--font);
}

/* Image */
figure {
    margin: 0;
}

figure img{
    width: 20vw;
    border-radius: calc(var(--image) * 4);
    border: 0.3em solid var(--text);
}

p a {
    color: var(--text);
}

/* Actions */
input {
    display: block;
    margin: 1.5em 0 0;
    width: 12em;
    box-sizing: border-box;
    padding: 0.3em 0.6em;
    border: 0.075em solid var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

::placeholder {
    color: var(--text);
}

button {
    border-radius: var(--image);
    padding: 0.375em 2em;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 0.6em 0;
    cursor: pointer;
    font-family: var(--font);
    width: 12em;
}